@use "vars" as *;

$icons: "telegram", "viber", "whatsapp";

.icon {
  --icon-size: 1.25rem;
  --icon-color: #{$text-color};

  display: inline-block;
  flex-shrink: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: middle;
  background-color: var(--icon-color);
  mask-position: center;
  mask-repeat: no-repeat;

  @each $name in $icons {
    &.icon-#{$name} {
      mask-image: url("/src/assets/icons/" + $name + ".svg");
    }
  }
}
