.menu {
  &-vectical,
  &-horizontal {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-horizontal {
    display: inline-flex;
    overflow: hidden;
    height: 1.2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
  }

  &-vectical {
    display: grid;
    align-items: center;
    gap: 0 50px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, auto);
    grid-template-rows: repeat(5, auto);

    > li {
      padding: 5px 0;
    }
  }

  &-dense {
    justify-content: flex-start;
    gap: 10px;
  }

  &-wide {
    gap: 20px;
  }
}
