$font-fallback: Avenir, Helvetica, Arial, sans-serif;
$font-primary: Inter, $font-fallback;
$font-secondary: "Montserrat", $font-fallback;
$line-height: 1.2;

$text-color: #e4e5ea;
$text-color-gray: #656566;

$bg-color: #0e1014;
$bg-color-primary: #4077f3;
