
$font-fallback: Avenir, Helvetica, Arial, sans-serif;
$font-primary: Inter, $font-fallback;
$font-secondary: 'Montserrat', $font-fallback;
$line-height: 1.2;

$text-color: #E4E5EA;
$text-color-gray: #656566;

$bg-color: #0E1014;
$bg-color-primary: #4077F3;

