@use "vars" as *;
@use "icons";
@use "menu";

:root {
  background-color: $bg-color;
  color: $text-color;
  color-scheme: light dark;
  font-family: $font-primary;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: $line-height;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 3rem;

  @media (--sm-viewport) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

h4 {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

h6 {
  font-size: 0.625rem;
  font-weight: 300;
}

.container {
  display: flex;
  max-width: 73.25em;
  flex-direction: column;
  padding: 0 1em;
  margin: 0 auto;
}
