@use "vars" as *;
@use "icons";
@use "menu";

:root {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: $line-height;

  color-scheme: light dark;
  color: $text-color;
  background-color: $bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-weight: 500;
  font-size: 1.125rem;
}

h4 {
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 0.875rem;
}

h6 {
  font-weight: 300;
  font-size: 0.625rem;
}

.font-secondary {
  font-family: $font-secondary;
}


.background {
  position: absolute;
  justify-content: center;
  display: flex;
  z-index: -99;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  > img {
    position: relative;
    left: -340px;
    top: -545px;
    max-width: initial;
  }
}

.container {
  max-width: 73.25em;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}