@use "@/assets/scss/_vars.scss" as *;

.btn {
  background: $bg-color-primary;
  padding: 21px 35px;
  border: 0;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background: darken($bg-color-primary, 3%);
  }
}