@use "@/assets/scss/vars.scss" as *;

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin-top: 37px;
  margin-bottom: 110px;
  font-weight: 500;
}

.logo {
  width: 165px;
  margin-right: 27px;
  position: relative;

  &__image {
    //margin-bottom: 10px;
  }

  &__sub {
    position: absolute;
    width: 140px;
    margin-top: 10px;
    font-family: $font-secondary;
  }
}

.contacts {
  display: flex;
  align-items: center;

  &__tel {
    margin: 0 47px;
  }
}
