@use "@/assets/scss/vars.scss" as *;

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin-top: 37px;
  margin-bottom: 110px;
  font-weight: 500;

  @media (--md-viewport) {
    justify-content: space-between;
  }

  @media (--sm-viewport) {
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 -1rem 40px;
    background: #000;
    text-transform: uppercase;
  }
}

.logo {
  position: relative;
  width: 165px;
  margin-right: 27px;

  @media (--sm-viewport) {
    display: none;
  }

  &__sub {
    position: absolute;
    width: 140px;
    margin-top: 10px;
    font-family: $font-secondary;
  }
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media (--md-viewport) {
    display: none;
  }

  &__tel {
    margin: 0 47px;
  }
}
