@use "@/assets/scss/vars.scss" as *;
@use "@/assets/scss/_mixins.scss" as *;

.main {
  display: flex;
  padding-bottom: 70px;
}

.main-heading {
  margin-right: auto;

  h1 {
    margin-bottom: 30px;
  }
  h3 {
    font-family: $font-secondary;
  }

  strong {
    font-weight: 900;
    background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
    @include gradient-text;
  }
}

.main-side {
  margin-top: 15px;
  text-align: right;

  strong {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
    @include gradient-text;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 60px;

  h3 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
    margin-bottom: 0.375em;
  }
  p {
    font-family: $font-secondary;
  }
}
