@use "@/assets/scss/vars.scss" as *;
@use "@/assets/scss/_mixins.scss" as *;

.main {
  display: flex;
  padding-bottom: 70px;

  @media (--sm-viewport) {
    flex-direction: column;
  }
}

.main-heading {
  margin-right: auto;

  h1 {
    margin-bottom: 30px;
  }

  h3 {
    font-family: $font-secondary;
  }

  strong {
    background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
    font-weight: 900;

    @include gradient-text;
  }
}

.main-side {
  margin-top: 15px;

  @media (--sm-viewport) {
    text-align: left;
  }

  strong {
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include gradient-text;
  }
}

.grid {
  display: grid;
  margin-top: 40px;
  margin-bottom: 60px;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);

  @media (--sm-viewport) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  h3 {
    margin-bottom: 0.375em;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  p {
    font-family: $font-secondary;
  }
}
