@use "@/assets/scss/vars.scss" as *;

.footer {

  padding: 55px 0 20px 0;

  h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $text-color-gray;
  }
  .footer-nav {
    display: flex;
    align-items: flex-start;
    gap: 100px;
  }

  .footer-nav-col:last-child {
    text-align: right;
    margin-left: auto;
  }

  .footer-legal {
    padding-top: 33px;
    font-size: 0.75rem;
    font-family: $font-secondary;
    text-align: right;
    p {
      margin-bottom: 5px;
    }
    a {
      text-decoration: underline;
    }
  }

}

